# Neon Postgres
DATABASE_URL=

# Clerk
CLERK_SECRET_KEY=
CLERK_PUBLISHABLE_KEY=

# Skydropx
SKYDROPX_API_KEY=
SKYDROPX_ORIGIN_ZIP=

# Facturapi
FACTURAPI_API_KEY=

# Brevo
BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=
BREVO_ARRIVAL_TEMPLATE_ID=
BREVO_WELCOME_TEMPLATE_ID=
BREVO_ORDER_CONFIRM_TEMPLATE_ID=

# Mercado Pago
PAYMENT_ACCESS_TOKEN=
PAYMENT_WEBHOOK_SECRET=

# Cloudflare R2
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_PUBLIC_URL=

# General
PORT=3001
NODE_ENV=development
